

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="formusignup">
  <div class="wrapsignup">
  <center>  <h2>Sign up</h2></center><br/>
  <div class="fieldsignup">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true,placeholder: "Email"  %>
  </div>

  <div class="fieldsignup">
    <%= f.label :Nombre %><br />
    <%= f.text_field :Nombre, placeholder: "Nombre Completo" %>
  </div>

  <div class="fieldsignup">
    <%= f.label :Promedio %><br />
    <%= f.text_field :Promedio, placeholder: "Promedio" %>
  </div>

  <div class="fieldsignup">
    <%= f.label :PlanEstudios %><br />
    <%= f.text_field :PlanEstudios, placeholder: "Plan De Estudios" %>
  </div>

  <div class="fieldsignup">
    <%= f.label :NoControl %><br />
    <%= f.text_field :NoControl, placeholder: "Numero de Control" %>
  </div>

  <div class="fieldsignup">
    <%= f.label :Carrera %><br />
    <%= f.text_field :Carrera, placeholder: "Carrera" %>
  </div>

  <div class="fieldsignup">
    <%= f.label :TipoUsuario %><br />
    <%= f.text_field :TipoUsuario, placeholder: "Rol" %>
  </div>

  <div class="fieldsignup">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="fieldsignup">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="fieldsignup">
      <%= render "devise/shared/links" %>
  </div>

  <div class="actionssingup">
    <%= f.submit "Sign up" %>
  </div>

</div>
</div>

<% end %>
