<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @anteproyecto.Nombre %>
</p>

<p>
  <strong>Objetivo:</strong>
  <%= @anteproyecto.Objetivo %>
</p>

<p>
  <strong>Justificacion:</strong>
  <%= @anteproyecto.Justificacion %>
</p>

<p>
  <strong>Cronograma:</strong>
  <%= @anteproyecto.Cronograma %>
</p>

<p>
  <strong>Descripcionactividades:</strong>
  <%= @anteproyecto.DescripcionActividades %>
</p>

<p>
  <strong>Nombreemp:</strong>
  <%= @anteproyecto.NombreEmp %>
</p>

<p>
  <strong>Direccionemp:</strong>
  <%= @anteproyecto.DireccionEmp %>
</p>

<p>
  <strong>Telefonoemp:</strong>
  <%= @anteproyecto.TelefonoEmp %>
</p>

<p>
  <strong>Comentarios:</strong>
  <%= @anteproyecto.Comentarios %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @anteproyecto.Estatus %>
</p>

<%= link_to 'Edit', edit_anteproyecto_path(@anteproyecto) %> |
<%= link_to 'Back', anteproyectos_path %>
